---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  
  <body>
    <nav class="nav-main">
      <ul>
        <li class="name"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/.">Seohyeon Cha</a></li>
        <li class="research"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/research/">publication</a></li>
        <li class="cv"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/pdf/CV SeohyeonCha.pdf">CV</a></li>
        <li class="project"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/project/">project</a></li>
<!--         <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/updates/">news</a></li> -->
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>
    </div>

  </body>
</html>
